/* @import url('https://fonts.googleapis.com/css?family=Lora:400,500,600,700&display=swap'); */

/* General Site Customizations */

.center-content { text-align:center; }

/* Custom Report Layout */
.report-template-default { 
	h1, h2, h3, h4, h5, h6 { font-style:initial; }
	h1 { font-size:48px; margin-bottom:1.5rem; }
	h2 { font-size:36px; margin-bottom:1.2rem; }
	h3 { font-size:32px; margin-bottom:1rem; }
	h4 { font-size:inherit; }
	h5 { font-size:inherit; }
	h6 { font-size:inherit; }
	img { padding-top:1em; }
	#wrapper-navbar { margin:2em 0em; }
	.wrapper { padding:unset; }
	#main-nav { 
		background-color:#fff!important;
		.navbar-brand { 
			margin-right: auto; 
			margin-left:auto; 
		}
	}
	.container-background { 
		padding:6em 0em;
		background-position:center; 
		background-size:cover; 
	}
	.report-header { 
		background-color:#c4612b; color:#fff; 
		.container {
			text-align:center;
			p { 
				font-size:22px;
				margin-bottom:3rem; 
			}
			.button { 
				border:2px solid #fff; 
				color:#fff; 
				padding:.375em 2em; 
				text-decoration:none; 
				font-weight:500;
			}
		}
	}

	.nav-section { 
		background-color:#fff; 
		.container {
			text-align: center;
			.nav-item {
				padding-bottom:2em;
				.button { 
					border:2px solid #c4612b; 
					display:inline-block;
					width:100%;
					height:100%;
					margin:auto;
					padding:.375em 1em; 
					.button-link {
						color:#000; 
						text-decoration:none; 
						display:inline-block;
						height:100%;
						width:100%;
						line-height:1.2;
						font-weight:500;
					}
				}
			}
		}
	}

	.next-steps { 
		background-color:#c4612b; 
		color:#fff; 
		.steps-title {
			width:100%; 
			text-align:center;
		}
	}

	.paragraph-section {
		background-color:#F8F7F5; 
		.paragraph-image {
			width:100%;
			text-align:center;
		}
	}

	.bullet-list {
		background-color:#998F86;
		color:#fff;
		.bullet-subheading { margin:1rem 0rem; }
		.bullet-text {
			position:relative;
			padding:.5em 0em 0em 0em;
			i {
				font-size:.375em;
				vertical-align: middle;
				padding:0em 3em;
			}
		}
	}

	.icon-list { 
		background-color:#D7D2CC; 
		list-style:none; 
		.icon-title { 
			width:100%; 
			text-align:center; 
		}
		.icon-subheading { 
			width:100%; 
			text-align:center; 
		}
		.icon-item { 
			display:inline-flex; 
			margin: 1em 0em;
			.icon-img {
				font-size:3rem;
				color:#968C83;
			}
			.icon-text {
				font-style:initial; 
				font-weight:500;
				font-family:'Roboto', sans-serif;
				margin:auto;
				padding-left:.75em;
				color:#2b2b2b;
			}
		}
	}

	.time-budget {
		background-color:#1A3254;
		color:#fff; 
		text-align:center;
		p { margin-bottom:2rem; }
		.time-label { 
			font-style:initial; 
			font-weight:500;
			font-family:inherit; 
			color:#b6ada6;
		}
		.time-data { 
			font-size:3em;
			margin-bottom:1rem;
			font-weight:500;
		}
	}

	.next-steps {
		ol {
			counter-reset:stepcount;
			list-style:none;
			padding-left:40px;
			li {
				margin: 1rem 0rem;
				counter-increment:stepcount;
				position:relative;
				line-height:4rem;
				min-height:4rem;
				&:before {
					content: counter(stepcount);
					color: #fff;
					font-size: 2.5rem;
					font-weight: 700;
					position: absolute;
					--size: 4rem;
					left: calc(-1 * var(--size) - 10px);
					line-height: calc(var(--size) - 5px);
					width: var(--size);
					height: var(--size);
					top: 0;
					border: 3px solid #fff;
					border-radius: 50%;
					text-align: center;
				}
				p { 
					margin:0; 
					line-height:2em;
					display:inline-block;
					font-size:1.45rem;
					font-weight:500;
				}
			}

		}
	}
}