.navbar-brand { 
	margin-right: auto; 
	margin-left:auto; 
}

/*.report-template-default .site-main { margin: 1em 0em; }*/

.single-report #main-nav { background-color:#fff!important; }

.report-template-default  {  
	.container-background { background-position:center; background-size:cover; }
	.report-header, .next-steps { background-color:#c4612b; color:#fff; }
	.paragraph-section { background-color:#F8F7F5; }
	.bullet-list {background-color:#998F86;}
	.icon-list { 
		background-color:#D7D2CC; 
		list-style:none; 
		.icon-item { display:inline-grid; }
	}
	.time-budget { background-color:#1B3355; color:#fff; }
}