.navbar-brand { 
	margin-right: auto; 
	margin-left:auto; 
}

.report-template-default .site-main { margin: 1em 0em; }

.report-header { background-color:inherit; }
.paragraph-section { background-color:inherit; }
.bullet-list {background-color:#666;}
.icon-list { background-color:#aaa; }
.time-budget { background-color:inherit; }